// COLORS
$primary-color: #1bffdd;
$secondary-color: #ccff00;
$black-100: #000;


// FONTS
$share-tech-mono: 'Share Tech Mono', monospace;
$shrinkhand: 'Shrikhand', cursive;


// SIZES
$spacer: 1rem;


// BREAKPOINTS
$large: 1140px;
$medium: 992px;
$small: 480px;